{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ controller_action_title }}</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
